<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess the number</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css" />
</head>
<body class="text-center">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Guess The Number</a>
    </nav>
    <main>
        <h1 class="banner p-3">1.2.3.</h1>
        <h2 id="ai-text">
            🤖 has picked a number... Good luck cracking it 🕵️‍♂️ 🕵️‍♀️!
        </h2>

            <form action="/" method="post">
                <div class="form-group input-container">
                    <input id="number-guess" class="form-control form-control-lg" type="number" placeholder="What's your guess?" name="number_guess" required />
                </div>
                <div id="result"></div>
                <button type="submit" id="number-submit" class="btn btn-lg btn-secondary">Check Me</button>
            </form>
            <form action="/reset">
                <button type="submit" id="restart-game" class="btn btn-lg btn-light">
                    Restart
                </button>
            </form>

        <div class="guessesContainer">
            <!-- Insert guesses here -->
            {% for guess in guesses %}
                <div class="guess {% if 'high' in guess %} red {% elif 'low' in guess %} yellow {% elif 'correct' in guess %} green {% endif %}">
                    {{ guess }}
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>